/* Novo projeto de Tetris */
body{
  background: #C0C0C0;
}

#teste{
  display:none;
}
.sq{ 
  border-width: 10px;
  height: 10px;
  width:10px;
  position:absolute;  
  outline : 1px solid #000;
  border-style: solid;
}

.red{
  border-color: #CC0000 #AA0000;
  background-color: #FF0000;
} 

.blue{
  border-color: #0000CC #0000AA;
  background-color: #0000FF;
}

.position{
  top:34px;
  left:0px;
}

.left{
  float:left;
}
#screen{
  border: 2px solid #000;
  width: 600px;
  height: 600px;
  position:relative;
}