/* Novo projeto de Tetris */
body{
  background: #C0C0C0;
  font-family: tahoma;
}

.sq{
  border-width: 10px;
  height: 10px;
  width:10px;
  position:absolute;
  border-style: solid;

  /* -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; */
}

.red{
  border-color: #CC0000 #AA0000 #AA0000 #CC0000;
  background-color: #FF0000;
}

.blue{
  border-color: #0000CC #0000AA #0000AA #0000CC ;
  background-color: #0000FF;
}

.gray{
  border-color:  gray black black gray ;
  background-color: lightgray;
}

.green{
  border-color: #00CC00 #00AA00 #00AA00 #00CC00 ;
  background-color: #00FF00;
}
.yellow{
  border-color: #CC0 #990 #990 #CC0;
  background-color: #FFFF00;
}
.orange{
  border-color: #F90 #F70 #F70 #F90;
  background-color: #FFD9A0;
}
.cyan{
  border-color: #0097A7  #00B8D4 #00B8D4 #0097A7;
  background-color: #00E5FF;
}


#game{
  width:500px;
  margin: 0 auto;

}
#stage{
  border: 2px solid #000;
  width: 300px;
  height: 600px;
  position:relative;
  float:left;
  overflow:hidden;
  background: url('../img/bg.png') 0px 0px repeat;
}

#side{
  width: 150px;
  height: 600px;
  border: 2px solid #000;
  position:relative;
  float: right;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#pieces{
  height: 300px;
}


h2, h3{
  text-align:center;
  padding:0;
  margin:0;
}


.tetramino{
  position: absolute;
  outline: 1px solid #000;
}
